.vs/
artifacts/
publish/
package/
public/

[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

.temp
.cache
.manifest
msbuild.log
msbuild.err
msbuild.wrn
*.db-shm
*.db-wal
*.zip
*.rar

heading.csv

appsettings.Development.json
appsettings.Production.json
logs/
Logs/
launchSettings.json
